{% extends 'main/master.html' %}

{% block title %}
 о нас
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Коррекционно-развивающий центр "ТИМОШКА "</h1>
            <p >Услуги нейропсихолога и логопеда для детей от 2 до 12 лет.<br>
                Молодые специалисты найдут подход к Вашему малышу.<br>
                Работаем с аутизмом, ОВЗ, ЗРР, ЗПР и другими нарушениями.<br>
                Занятия индивидуальные и групповые.<br>
                Уютные кабинеты, спокойная и безопасная обстановка, удобная парковка.<br>
                Также услуги психолога для взрослых, скидки и абонементы для наших клиентов.<br>
                <br>
        <button class = "btn btn-outline-danger" ><i class="fa-solid fa-phone" style="color: black"></i>Позвоните нам  </button></p>
    </div>


{% endblock %}