{% extends 'main/master.html' %}

{% block title %}
Услуги
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Наши Услуги</h1>
        {% for m in  service %}
            <div class="alert alert-warning">
                <h3>{{m.service}}</h3>
                <p>{{m.name}}</p>
                <p>{{m.prise}}</p>
            </div>
        {% endfor %}
<form action = "{% url 'abaut' %}">
                    <button class = "btn btn-outline-danger" ><i class="fa-solid fa-address-card" style="color: black;"></i>На страницу про нас </button></p>
                </form>

    </div>


{% endblock %}